
<div class="options">
    <p class="babs-options-edit"><a asp-action="UpdateImage" asp-controller="Dashboard">Upload Picture</a></p>
    <p class="babs-options-edit"><a asp-action="editProfile">Edit Profile</a></p>
    <p class="babs-options-edit"><a asp-action="changePassword">Change Password</a></p>
</div>