
<div class="modal fade" id="pay_success" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">

                <div class="wey-1 mx-auto">
                    <div class="wey-1-1">
                        <div class="wey-1-1-1">
                            <img src="~/images/wey-img3.png" />
                        </div>
                        <div class="wey-1-1-2">
                            <p>maryokafor@gmail.com</p>
                        </div>
                        <div class="wey-1-1-3">
                            <p style="width: 147px; height: 34px">NGN 60,000</p>
                        </div>
                    </div>

                    <div class="wey-1-2">
                        <div class="wey-1-2-1">
                            <img class="wey-img-1" src="~/images/wey-img1.svg" />
                        </div>
                        <div class="wey-1-2-2">
                            <p>Payment Successful</p>
                        </div>
                        <div class="wey-1-2-3">
                            <p class="wey-1-2-3-1">
                                Your transaction reference is <br>
                                <span class="wey-span-1">T91827364773288</span>
                            </p>
                        </div>
                        <div class="wey-1-2-4">
                            <div class="wey-1-2-4-1">
                                <img class="wey-img-2" src="~/images/wey-img2.svg" />
                            </div>
                            <div class="wey-1-2-4-2">
                                <p>SECURED BY PAYSTACK</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>