<div class="modal fade" id="account_created" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Account Created Successfully</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">

                <div class="container p-5">
                    <div class="ogm-account-create-panel">
                        <div class="ogm-account-create-panel-inner">
                            <img src="~/images/ogm-success-icon.png" class="pt-5" />

                            <h5 style="font-weight: bold;" class="p-4">Account created Successfully</h5>

                            <div class="ogm-text-msg">
                                <p>Your account has been created successfully.<br />You can begin to reward your teacher. Cheers</p>
                            </div>

                            <br />
                            <a href="#" class="ogm-btn-1">Continue to Login</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>