@using Microsoft.AspNetCore.Identity
@{
    var user = _userManager.GetUserAsync(User).Result;
}
<div class="ogm-notify-flex-nav">

    <div class="d-xl-inline-flex p-2">
        <a class="nav" href="#" data-bs-target="#notification" data-bs-toggle="modal" style=" margin-top: -5px;">
            <img src="~/images/ogm-notify-icon.png" />
            <p onload="countNotification()" id="notificationNumber">0</p>
        </a>
    </div>    

    <div class="d-xl-inline-flex">
        <a href="#" data-bs-target="#account_settings" data-bs-toggle="modal" class="nav" style="font-weight: bold; color: black;">
           @if(user != null){
                @if (string.IsNullOrEmpty(user.PhotoUrl))
                {
                    <div class="oval-shape">
                        <img src="~/images/ogm-dummy-image.png" />
                    </div>
                    @user.LastName
                }
                else
                {
                    <div class="oval-shape">
                        <img src="@user.PhotoUrl" />
                    </div>
                    <div class="" style="margin-left: 10px; margin-top: 3px">@user.FirstName @user.LastName</div>

                }
           }
        </a>

    </div>
</div>