@model ForgotPasswordViewModel 

@{
    ViewData["Title"] = "Forgot Password";
}

<div class="RYTS-19-main-container RYTS-19-main-19">
    <div class="RYTS-19-frame-1">
        <div class="RYTS-19-frame-2">
        </div>
        <div class="RYTS-19-frame-3">
            <span class="RYTS-19-ryt">RYT</span><span class="RYTS-19-reward-your-teacher">Reward your Teacher</span>
        </div>
    </div>
    <div class="RYTS-19-frame-4">
        <div class="RYTS-19-frame-5">
            <div class="RYTS-19-frame-6">
                <div class="RYTS-19-frame-7">
                    <span class="RYTS-19-login-account">Forgot Password</span>
                    <div asp-validation-summary="All"></div>
                    <form method="post" asp-action="ForgotPassword" asp-controller="Account">
                        <div class="RYTS-19-frame-8">

                            <div class="RYTS-19-frame-9">
                                <span class="RYTS-19-text">Email</span>
                                <div class="RYTS-19-button-default RYTS-19-Style-image">
                                    <img src="~/images/email.png" />
                                    <input asp-for="Email" placeholder="Type your email" class="RYTS-19-button-default-input RYTS-19-inputplaceholder-19" />
                                </div>
                            </div>
                            <div class="RYTS-19-frame-a">
                                <button class="RYTS-19-default-button" type="submit">
                                    <span class="RYTS-19-login">Send</span>
                                </button>
                            </div>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
        <div class="RYTS-19-text-12">
            <span class="RYTS-19-dont-have-account">Already have an account? </span><a asp-action="login" class="RYTS-19-sign-up">Log In</a>
        </div>
    </div>
</div>
