@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}
<div class="RYTS-16-rectangle">
    <img src="~/image/Rectangle 307.jpg" />
    <div class="RYTS-16-rectangletext">
        <p>Profile</p>
    </div>
</div>
<div class="RYTS-16-auth-container">
    <div class="RYTS-16-options">
        <p class="RYTS-16-auth-options-edit"><a asp-action="editProfile">Edit Profile</a></p>
        <p class="RYTS-16-auth-options-edit"><a asp-action="changePassword">Change Password</a></p>
    </div>
    <div class="RYTS-16-auth-form-area">
        <link href="c:\users\decagon\source\repos\ryt\ryt\wwwroot\css\changepasswordforstudent.css" rel="stylesheet" />
        <div class="RYTS-16-auth-form-details">
            <P class="RYTS-16-auth-edit">Change Password</P>
            <div asp-validation-summary="All"></div>
            @if (!string.IsNullOrEmpty(ViewBag.PasswordChangeSuccess))
            {
                <span>@ViewBag.PasswordChangeSuccess</span>
            }
            <form method="post" asp-action="ChangePassword" asp-controller="Dashboard" class="RYTS-16-auth-form-items">
                <label asp-for="OldPassword">Old password</label>
                <input asp-for="OldPassword" type="text" placeholder="Type in old Password" />
                <br />
                <label asp-for="NewPassword">New Password</label>
                <input asp-for="NewPassword" type="text" placeholder="Type in new password" />
                <br />
                <label asp-for="ConfirmPassword">Confirm New Password</label>
                <input asp-for="ConfirmPassword" type="text" placeholder="Confirm password" />
                <br />

                <button type="submit" class="RYTS-16-save-button">Save change</button>

            </form>
        </div>
    </div>
</div>


<script>
    // JavaScript function to hide the image when typing starts

    function hideImage() {
        var image = document.getElementById("hiddenImage");
        var textbox = document.getElementById("textInput");
        // Check if the textbox has any value
        if (textbox.value.trim() !== "") {
            // If there is text in the textbox, hide the image
            image.style.opacity = 0;

        }
        else {
            // If the textbox is empty, show the image
            image.style.opacity = 6;
        }

    }
</script>