@{
    ViewData["Title"] = "Home Page";
}
@{
    var user = _userManager.GetUserAsync(User).Result;
}
<Partial name="_NavbarPartial" />

<body>
    <div style="background-color:#D9D6FE" class="ryt-display-container ryt-row ryt-padding-large">
        <div class="ryt-col  animated bounceIn" style="width:50%;margin-top:75px;padding-left:60px">
            <div style="color:#3E1C96;font-weight:bold" class="ryt-xxxlarge">Send instant <br>heartfelt rewards<br>to your teachers</div><br>
            <div style="color:#101828;" class="ryt-margin-top">A digital platform that digitizes the process of sending funds to teachers who have done their work with emphatic kindness.</div>
            @if (!_signInManager.IsSignedIn(User))
            {
                <a asp-action="signup" asp-controller="account">
                    <span class="ryt-padding ryt-button ryt-margin-top" style="background-color:#6938EF;color:white"> Get Started</span>
                </a>
            }
            else
            {
                <a asp-action="overview" asp-controller="dashboard">
                    <span class="ryt-padding ryt-button ryt-margin-top" style="background-color:#6938EF;color:white"> Goto Dashboard Overview</span>
                </a>
            }
            
        </div>
        <img class="ryt-col  animated2 slideInRight" style="width:50%;padding-right:2%;margin-bottom:-0.8%" src="~/images/hm1.png">
    </div>
    <div style="margin-top:64px;margin-bottom:64px">
        <div class="ryt-center ryt-xxlarge ryt-margin-top" style="font-weight: bold">How it works</div>
        <div class="ryt-center ryt-margin-top">The easiest way to show you care.</div>
        <div style="margin-left:3%;margin-right:3%; width:94%;margin-top:40px" class="ryt-row">
            <span class="ryt-col ryt-padding-large ryt-card-4" style="width:32.33%;height:170px;margin-right:1%">
                <img src="~/images/arrow-square-up-right.png" style="width:6%">
                <div class="ryt-margin-top ryt-large" style="font-weight:bold;color:#3E1C96">Sign in / Sign up</div>
                <div class="ryt-margin-top ryt-small" style="height:90px">Do this with your email and password or Google account to get started.</div>
            </span>
            <span class="ryt-col ryt-padding-large ryt-card-4" style="width:32.33%;height:170px;margin-right:1%">
                <img src="~/images/wallet-plus.png" style="width:6%">
                <div class="ryt-margin-top ryt-large" style="font-weight:bold;color:#3E1C96">Fund your wallet as an Alunmni</div>
                <div class="ryt-margin-top ryt-small" style="height:90px">Move money from your bank account into your RewardyourTeacher Wallet and instantly begin to gift your teachers.</div>
            </span>
            <span class="ryt-col ryt-padding-large ryt-card-4" style="width:32.33%;height:170px;">
                <img src="~/images/send.png" style="width:6%">
                <div class="ryt-margin-top ryt-large" style="font-weight:bold;color:#3E1C96">Send Monetary Reward to a Teacher</div>
                <div class="ryt-margin-top ryt-small" style="height:90px">Do it once, do it again and again! Let your teachers know that they are valued.</div>
            </span>
        </div>
    </div>
    <div class="ryt-display-container ryt-row" style="">
        <img src="~/images/image 4.png" style="z-index:1;width:100%">
        <div class="ryt-col  ryt-display-topleft " style="padding-top:100px;padding-left:80px;width:50%">
            <div class="ryt-text-white" style="font-weight:bold;font-size:40px">Send surprise funds to<br> your teacher today</div>
            <div class="ryt-text-white ryt-margin-top">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat eget ipsum, sed praesent.</div>
            @if (!_signInManager.IsSignedIn(User))
            {
                <a asp-action="signup" asp-controller="account">
                <div class="ryt-button ryt-margin-top" style="font-weight:bold;color: #3e1c96;background-color:white">Get Started</div>
                </a>
            }
            else
            {
                <a asp-action="overview" asp-controller="dashboard">
                    <div class="ryt-button ryt-margin-top" style="font-weight:bold;color: #3e1c96;background-color:white">Goto Dashboard Overview</div>

                </a>
            }
        </div>
        <img src="~/images/checking.png" class="ryt-col ryt-display-bottomright" style="  width:50%">
    </div>
    <div style="margin-top:64px;margin-bottom:64px;width:90%;margin-left:5%;margin-right:5%" class="ryt-row">
        <div class="ryt-row ryt-col" style="width:40%;margin-top:110px">
            <div>
                <div class="ryt-margin-bottom ryt-xxlarge" style="color: #3e1c96;font-weight:bold">The teacher's reward<br>should no longer be in<br>heaven.</div>
                <div style="font-weight:700" class="ryt-margin-top;"><img style="width:1.5%" src="~/images/arrow.png">The teacher <span style="font-weight:700;color: #3e1c96;">motivates</span></div><br>
                <div style="font-weight:700" class="ryt-margin-top;"><img style="width:1.5%" src="~/images/arrow.png">The teacher <span style="font-weight:700;color: #3e1c96;">inspires</span></div><br>
                <div style="font-weight:700" class="ryt-margin-top;"><img style="width:1.5%" src="~/images/arrow.png">The teacher <span style="font-weight:700;color: #3e1c96;">equips</span></div><br>
                <div style="font-weight:700" class="ryt-margin-top;"><img style="width:1.5%" src="~/images/arrow.png">The teacher <span style="font-weight:700;color: #3e1c96;">loves</span></div><br>
            </div>
        </div>
        <div class="ryt-col ryt-row" style="right:0%;width:60%;position:absolute">
            <img class="ryt-round ryt-col" style="width:50%;z-index:2;position:relative;" src="~/images/Frame 8848.png">
            <img class="ryt-round ryt-col" style="width:50%;padding-top:80px;z-index:1;position:relative;left:-10%" src="~/images/Frame 8847.png">
        </div>
    </div>
    <div>
        <div class="ryt-xxlarge ryt-center" style="margin-top:250px;margin-bottom:50px;">Our Partners</div>
        <div class="w3-row" style="width:80%;margin-right:10%;margin-left:10%">
            <img class="ryt-col" src="~/images/abeg-2.png" style="width:10%;margin-right:12.5%">
            <img class="ryt-col" src="~/images/accessbank.png" style="width:10%;margin-right:12.5%">
            <img class="ryt-col" src="~/images/bolt-1.png" style="width:10%;margin-right:12.5%">
            <img class="ryt-col" src="~/images/firstbank-1.png" style="width:10%;margin-right:12.5%">
            <img class="ryt-col" src="~/images/airtel 1.png" style="width:10%;">
        </div>
    </div>
    <div class="ryt-black ryt-center " style="margin-top:250px;padding-top:80px;padding-bottom:80px">
        <div class="ryt-row ryt-col ryt-center" style="width:19%;margin-right:40.5%;margin-left:40.5%">
            <img class="ryt-col s3 ryt-margin-right" src="~/images/Frame 12.png">
            <div class="ryt-col ryt-row s8">
                <div class="ryt-col ryt-xlarge s12 ryt-left-align ">RYT</div>
                <div class="ryt-col s12 ryt-left-align ">Reward your Teacher</div>
            </div>
        </div>
        <div style="width:40%;margin-right:30%;margin-left:30%;padding-top:100px;">
            <span class="ryt-large ryt-left-align " style="width:20%;margin-right:10%">Home</span>
            <span class="ryt-large ryt-center" style="width:20%;margin-right:10%">About</span>
            <span class="ryt-large ryt-right-align " style="width:20%;margin-right:10%">Contact</span>
        </div>
        <div style="color:gray;margin-right:4%;margin-left:4%;width:92%;padding-top:30px;">
            <hr style="background-color:gray">
            <div>
                <span class="ryt-left-align ryt-margin-left ryt-left">© 2022 Reward Teacher. All rights reserved</span>
                <span style="margin-top:-15px " class="ryt-right-align ryt-margin-right ryt-right">
                    <img style="width:20%" src="~/images/instgram.png">
                    <img style="width:20%" src="~/images/twitter.png">
                    <img style="width:20%" src="~/images/youtube.png">
                </span>
            </div>
        </div>
    </div>
</body>