html {
    font-size: 14px;
}



html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: #eeeeee;
}

a {
    text-decoration: none;
}
 



.auth-panel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-panel-inner {
    width: 400px;
    min-width: 300px;
    background: white;
    border-radius: 16px;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 10%;
    margin-left: 35%;
}

    .auth-panel-inner form p input {
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        outline: none;
        border: 1px solid #dddddd;
    }

    .auth-panel-inner form button {
        width: 100%;
    }

.flex-btw {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


