.RYTS-16-rectangle {
    margin-left: 85px;
    margin-right: 186px;
    margin-top: 10px;
    position: relative;
}


.RYTS-16-rectangletext {
    color: white;
    font-size: 32px;
    font-family: 'Inter';
    text-align: center;
    font-weight: 700;
    line-height: 44.80px;
    letter-spacing: 0.25px;
    margin-bottom: 53px;
    height: 45px;
    position: absolute;
    top: 53px;
    bottom: 53px;
    left: 388px;
}

.RYTS-16-Profile-colour {
}

.RYTS-16-auth-container {
    display: flex;
    width: 880px;
    margin-left: 85px;
    margin-top: 20px;
}

.RYTS-16-auth-options {
    background: white;
    width: 162px;
    height: 96px;
    margin-right: 20px;
    padding: 16px;
}

.RYTS-16-auth-options-edit a {
    text-decoration: none;
    color: black;
    cursor: pointer
}

    .RYTS-16-auth-options-edit a:hover {
        color: purple;
    }

.RYTS-16-auth-form-area {
    border-left: 1px solid grey;
    height: 478px;
    margin-left: 20px;
}

.RYTS-16-auth-form-details {
    width: 478px;
    height: 566px;
    margin-left: 60px;
}

.RYTS-16-auth-form-items {
    background: white;
    height: 390px;
    padding: 32px 40px;
}

    .RYTS-16-auth-form-items label, .RYTS-16-auth-form-items input {
        display: block;
        width: 100%;
    }

.RYTS-16-babs-form-items label {
}

.RYTS-16-auth-form-items input {
    height: 44px;
    padding: 12px, 16px, 12px, 16px;
    border-radius: 6px;
    border: 1px solid #D0D5DD;
}

    .RYTS-16-auth-form-items input:focus {
        outline: 1px solid #6938EF;
        background: #EAECF0;
    }

.RYTS-16-auth-form-items button {
    width: 100%;
    height: 44px;
    padding: 12px, 16px, 12px, 16px;
    border-radius: 6px;
    background: #6938EF;
}

.RYTS-16-save-button {
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    color: white;
    border: none;
}

.RYTS-16-auth-edit {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 8%;
    align-content: center;
}

.RYTS-16-auth-view {
    color: #98A2B3;
    margin-bottom: 10px;
}

.RYTS-16-auth-options-edit:hover {
    color: #6938EF;
}

.RYTS-16-auth-options-edit:hover {
    color: #6938EF;
}

.RYTS-16-options {
    margin: 1.2rem 4rem 0rem 0rem;
    box-sizing: border-box;
    padding: 1.6rem;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    flex-shrink: 0;
    height: 110px;
      width: auto;
}
